# yaml-language-server: $schema=https://goreleaser.com/static/schema.json
# SPDX-FileCopyrightText: 2020 SAP SE or an SAP affiliate company
# SPDX-License-Identifier: Apache-2.0
version: 2

archives:
  - name_template: '{{ .nameTemplate }}'
{{- if .format }}
    format: {{ .format }}
{{- end }}
    format_overrides:
      - goos: windows
        formats: [ zip ]
    files:
{{- range .files }}
      - {{ . }}
{{- end }}

builds:
  - binary: '{{ .binaryName }}'
    env:
      - CGO_ENABLED=0
    goos:
      - linux
      - windows
      - darwin
    goarch:
      - amd64
      - arm64
    ignore:
      - goos: windows
        goarch: arm64
    ldflags:
      - -s -w
      - -X github.com/sapcc/go-api-declarations/bininfo.binName={{ .binName }}
      - -X github.com/sapcc/go-api-declarations/bininfo.version={{`{{ .Version }}`}}
      - -X github.com/sapcc/go-api-declarations/bininfo.commit={{`{{ .FullCommit  }}`}}
      - -X github.com/sapcc/go-api-declarations/bininfo.buildDate={{`{{ .CommitDate }}`}} # use CommitDate instead of Date for reproducibility
{{- range $name, $value := .ldflags }}
      - {{ $name }}={{ printf "{{.Env.%s}}" $value}}
{{- end }}
    main: {{ .fromPackage }}
    # Set the modified timestamp on the output binary to ensure that builds are reproducible.
    mod_timestamp: "{{`{{ .CommitTimestamp }}`}}"

checksum:
  name_template: "checksums.txt"

{{- if .githubDomain }}
github_urls:
  api: https://{{ .githubDomain.Host }}/api/v3/
  upload: https://{{ .githubDomain.Host }}/api/uploads/
  download: https://{{ .githubDomain.Host }}/
{{- end }}

release:
  make_latest: true
  prerelease: auto

sboms:
  - id: archive
    artifacts: archive
  - id: binary
    artifacts: binary
  - id: package
    artifacts: package

snapshot:
  version_template: "{{`{{ .Tag }}`}}-next"
